<section class="h-full p-3 flex flex-col md:flex-row gap-6">
  <div class="left w-full xl:w-1/3 flex flex-col items-center">
    <div
      class="personal-details w-full xl:h-full card card-border bg-base-100 shadow-lg"
    >
      <div class="card-body gap-3">
        <img src="icons/5.svg" alt="" class="size" />
        <h1 class="text-4xl xl:text-5xl text-center font-bold">
          Francisco <span class="text-primary dark:text-primary">Suarez</span>
        </h1>
        <h2 class="text-3xl xl:text-4xl text-center font-sans">
          Full Stack Developer
        </h2>
        <div
          class="flex flex-row justify-center content-center gap-2 xl:text-2xl"
        >
          <ng-icon name="phosphorMapPinBold" size="1.5em"></ng-icon>
          <span>Mexicali, BC, Mexico</span>
        </div>
        <div
          class="flex flex-row justify-center content-center gap-2 xl:text-2xl"
        >
          <ng-icon name="phosphorEnvelopeSimpleBold" size="1.5em"></ng-icon>
          <span>suadev01&#64;gmail.com</span>
        </div>
        <div
          class="flex flex-row justify-center content-center gap-2 xl:text-2xl"
        >
          <ng-icon name="phosphorPhoneBold" size="1.5em"></ng-icon>
          <span>+52 686 164 7694</span>
        </div>
      </div>
    </div>
    <div class="links w-full flex flex-col lg:flex-row gap-3 mt-4">
      <a
        href="https://www.linkedin.com/in/francisco-suarez-9b1b4a1b2/"
        target="_blank"
        class="hover:decoration-0 btn xl:btn-square bg-base-300 text-primary dark:text-primary shadow-md xl:btn-lg"
      >
        <ng-icon name="phosphorLinkedinLogoBold" size="2em"></ng-icon>
        <span class="inline-block xl:hidden">LinkedIn</span>
      </a>
      <a
        href="https://github.com/SuaDev09"
        target="_blank"
        class="btn xl:btn-square bg-base-300 text-primary dark:text-primary shadow-md xl:btn-lg"
      >
        <ng-icon name="phosphorGithubLogoBold" size="2em"></ng-icon>
        <span class="inline-block xl:hidden">GitHub</span>
      </a>
      <button class="btn btn-primary grow shadow-md xl:btn-lg">
        <ng-icon name="phosphorPaperPlaneTiltBold" size="2em"></ng-icon>
        Contact me!
      </button>
    </div>
  </div>
  <div class="right w-full">
    <div class="w-full card card-border bg-base-100 shadow-lg">
      <div class="card-body">s</div>
    </div>
  </div>
</section>
